@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #222;
    background-color: #FFDEED;
}

/* heading */




h1,
h2 {
    font-family: Roboto Condensed, sans-serif;
    text-transform: uppercase;
    color: #222;

}

#logo-headings img {
    max-height: 150px;
    max-width: 150px;
    padding: 20px;
    float: left;
    animation-name: logo-spin;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;

}





#logo-headings h1 {
    font-size: 300%;
    /* line-height: 170px; */
    color: black;

}

#logo-headings a {
    text-decoration: none;
}

#logo-headings {
    width: 50%;
    float: left;

}

#logo-headings,
#nav-menu {
    line-height: 190px;

}

/* logo animation*/

@keyframes logo-spin {
    from {
        transform: rotate(270deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Navigation Menu */

#nav-menu {
    list-style-type: none;
    font-size: 100%;
    /* line-height: 170px; */
    margin: auto;
}



#nav-menu li {
    float: left;
    margin-right: 20px;
}

#nav-menu {
    float: right;

}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-top: #222 solid 1px;
}

a.active {
    border-top: #222 solid 1px;
}


/* home image */

#home-image-container {
    height: 400px;
    width: 100%;

    overflow: hidden;

    position: relative;
}

#home-image {
    height: 400px;
    width: 100%;
    background: url('../images/home-img-tbs.jpg') no-repeat center center;
    /* clear: both; */

}

#overlay-claim {
    
    width: 500px;
    height: 100px;

    padding: 20px;

    background-color: rgba(239, 76, 38, .9);

    bottom: 20px;
    right: 20px;


    position: absolute;
}

#overlay-claim h2 {
    font-family: Roboto, sans-serif;
    color: white;
    font-size: 200%;
}