@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@100;400&family=Work+Sans:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #222;
    background-color: #FFDEED;
}

/* heading */




h1,
h2 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: #222;

}

#logo-headings img {
    max-height: 150px;
    max-width: 150px;
    padding: 20px;
    float: left;
    animation-name: logo-spin;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;

}





#logo-headings h1 {
    
    font-size: 250%;
    font-weight: 900;
    color: black;

}

#logo-headings a {
    text-decoration: none;
}

#logo-headings {
    width: 50%;
    float: left;

}

#logo-headings,
#nav-menu {
    line-height: 190px;

}

/* logo animation*/

@keyframes logo-spin {
    from {
        transform: rotate(270deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Navigation Menu */

#nav-menu {
    list-style-type: none;
    font-size: 100%;
    /* line-height: 170px; */
    margin: auto;
}



#nav-menu li {
    float: left;
    margin-right: 20px;
}

#nav-menu {
    float: right;

}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-top: #222 solid 1px;
}

a.active {
    border-top: #222 solid 1px;
}


/* home image */

#home-image-container {
    height: 800px;
    width: 100%;

    overflow: hidden;

    position: relative;
}

#home-image {
    height: 800px;
    width: 90%;
    background: url('../images/home-img-tbs.jpg') no-repeat center center;
    border-radius: 30px;
    margin: auto;
    

}

#overlay-claim {
    
    width: 300px;
    height: 300px;

    padding: 20px;

    background-color: rgba(239, 76, 38, 1);

    top: 20px;
    right: 20px;

    border-radius: 30px;


    position: absolute;
}

#overlay-claim h2 {
    
    color: white;
    font-size: 200%;
}

/* hang out with us section */

.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    /* justify-content: space-between; */
    width: 90%;
    height: 400px;
    
    margin: auto;
    background-color: #FFCAE5;
    border-radius: 30px;
}

/* .offer {
    display: flex;
    width:49%;
    height:380px;
    background-color: #EF4C26; 
    /* margin: 5px; */
    /*align-items: flex-end;
    position: relative;
    }
    */

    .offer {
        display: flex;
        width:350px;
        /* height:400px; */
        flex-direction: column;
        justify-content: flex-start;
        
        
        /* margin: 5px; */
        padding-top:20px;
        align-items: flex-start;
        /* position: relative; */
        
    }

/* .offer-txt {
    position: absolute;
    background-color: rgba(239, 76, 38, 1);
    padding: 20px;
    border-radius: 10px;
    bottom:10px;
    
    
} */

.offer div {
    margin-left: 10px;
    
    
}

.offer h2 {
    
    font-weight: 400;
    font-size: 200%;
    
}

.offer p {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    font-size: 120%;
}

.offer img {
    max-width: 100%;
    border-radius: 10px;
    
}

/* .offer1, .offer4 {
    background-color: white;
} 

.offer2, .offer3 {
    background-color: gray;
}  */



#hang-out-separator {
    line-height: 100px;

    /* background-color: white; */
}

#hang-out-separator h1 {
    font-size: 500%;
    font-weight: 900;
    color: black;
    text-align: center;
}


/* footer */


footer {
    height: 190px;
}

.upper-footer {
    display:flex;
    
    
    
}



.upper-footer {
    height: 100px;
    /* align-content: center; */
    /* width: 300px; */
    /* color: #222; */
    

    /* justify-content: space-evenly; */
}



.upper-footer ul {
    list-style-type: none;
    display: flex;    
}

.upper-footer li {    
    margin-right: 30px;    
}

.upper-footer p {
    margin-right: 30px;
    
}

.upper-footer a {
    text-decoration: none;
    color: #222;
    font-size: 200%;
}

.upper-footer-item {
    
    align-self: center;
    
}




